#es-rc #es-rc-content {
  font-family: "Futura Demi", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background: #ffffff;
}

#es-rc #es-rc-content ::selection {
  background-color: #000000;
}

#es-rc #es-rc-content .es-cross ::selection,
#es-rc #es-rc-content .es-specialist ::selection,
#es-rc #es-rc-content .es-kv__text__wrapper-bottom ::selection {
  background-color: #684224;
  color: #ffffff;
}

#es-rc #es-rc-content * {
  box-sizing: border-box;
}

#es-rc #es-rc-content img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#es-rc #es-rc-content sup {
  vertical-align: top;
  font-size: 0.6em;
  line-height: normal;
  top: 0;
}

#es-rc #es-rc-content a {
  text-decoration: none;
  color: inherit;
}

#es-rc #es-rc-content .es-kv {
  color: #ffffff;
  position: relative;
}

#es-rc #es-rc-content .es-kv__img--dt {
  display: none;
}

#es-rc #es-rc-content .es-kv__img--mb {
  width: 100%;
  position: relative;
  z-index: 0;
}

#es-rc #es-rc-content .es-kv__text {
  font-family: "Futura Demi", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
}

#es-rc #es-rc-content .es-kv__text__wrapper-top {
  position: absolute;
  top: 24px;
  left: 24px;
  max-width: 375px;
}

#es-rc #es-rc-content .es-kv__text__wrapper-bottom {
  color: #000000;
  padding-inline: 24px;
  margin-block: 24px;
}

#es-rc #es-rc-content .es-kv__text-normal {
  font-family: "Futura Book", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  margin-block: 0;
}

#es-rc #es-rc-content .es-kv__text-bold,
#es-rc #es-rc-content .es-kv__text-smaller {
  margin-block: 0;
}

#es-rc #es-rc-content .es-kv__text-smaller {
  font-size: 35px;
  font-family: "Futura Book", sans-serif;
}

#es-rc #es-rc-content .es-kv__text-normal {
  font-size: 25px;
}

#es-rc #es-rc-content .es-kv__text-normal-smaller {
  font-size: 25px;
  font-family: "Futura Book", sans-serif;
}

#es-rc #es-rc-content .es-cross {
  padding: 20px 0;
}

#es-rc #es-rc-content .es-cross__title {
  font-size: 30px;
  font-family: "Futura Demi", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#es-rc #es-rc-content .es-cross__wrapper {
  display: none;
}

#es-rc #es-rc-content .es-cross__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 180px;
}

#es-rc #es-rc-content .es-cross-mobile .es-cross__single {
  min-height: 350px;
}

#es-rc #es-rc-content .es-cross__single-img img {
  max-height: 180px;
}

#es-rc #es-rc-content .es-cross__single-text {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Futura Medium", sans-serif;
}

#es-rc #es-rc-content .es-cross__single-link {
  color: #ffffff;
  background-color: #000000;
  padding: 8px 35px;
  border: 1px solid #000000;
  text-transform: uppercase;
  border-radius: 99px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Futura Medium", sans-serif;
  text-align: center;
  margin-bottom: 8px;
}

#es-rc #es-rc-content .es-cross-mobile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-block: 30px;
}

#es-rc #es-rc-content .es-cross__single {
  margin-left: auto;
  margin-right: auto;
}

#es-rc #es-rc-content .es-swiper {
  width: 300px;
  padding-bottom: 30px;
}

#es-rc #es-rc-content .es-swiper-button-prev,
#es-rc #es-rc-content .es-swiper-button-next {
  color: #684224;
  width: 40px;
}

#es-rc #es-rc-content .es-swiper-button-prev::after,
#es-rc #es-rc-content .es-swiper-button-next::after {
  font-size: 35px;
}

#es-rc #es-rc-content .swiper-pagination-bullet-active {
  background: #684224;
}

#es-rc #es-rc-content .es-formula {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
  background-position: right;
}

#es-rc #es-rc-content .es-formula__content {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

#es-rc #es-rc-content .es-formula__content--title {
  font-weight: 700;
  margin: 15px 0 0 0;
  font-family: "Futura Demi", sans-serif;
  font-size: 45px;
}

#es-rc #es-rc-content .es-formula__content--subtitle {
  margin: 0;
  font-family: "Futura Book", sans-serif;
  font-size: 40px;
  text-wrap: balance;
  margin-top: 20px;
  text-transform: none;
}

#es-rc #es-rc-content .es-formula__content--text {
  font-family: "Futura Book", sans-serif;
  font-size: 28px;
}

#es-rc #es-rc-content .es-formula__content--link {
  color: #ffffff;
  background-color: #000000;
  padding: 6px 32px;
  border: 1px solid #000000;
  text-transform: uppercase;
  border-radius: 99px;
  font-size: 20px;
  display: inline-block;
  font-family: "Futura Demi", sans-serif;
}

#es-rc #es-rc-content .es-formula__content--link a {
  text-decoration: none;
}

#es-rc #es-rc-content .es-formula-results-rating__bg-wrapper {
  background: #684224;
  background: linear-gradient(
    29deg,
    rgba(104, 66, 36, 1) 0%,
    rgba(208, 166, 105, 1) 100%
  );
}

#es-rc #es-rc-content .es-results {
  background-repeat: no-repeat;
  background-size: 0;
  background-position: bottom;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
}

#es-rc #es-rc-content .es-results__wrapper {
  padding: 0 25px;
}

#es-rc #es-rc-content .es-results__img {
  margin-top: 10px;
}

#es-rc #es-rc-content .es-results__title {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Futura Book", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
}

#es-rc #es-rc-content .es-results__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#es-rc #es-rc-content .es-results__percent {
  font-size: 99px;
  font-weight: 700;
  margin: 0;
  font-family: "Futura Demi", sans-serif;
}

#es-rc #es-rc-content .es-results__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Futura Book", sans-serif;
  font-size: 28px;
  text-wrap: balance;
}

#es-rc #es-rc-content .es-results__disclaimer {
  margin: 0;
  font-size: 14px;
  text-wrap: balance;
  font-family: "Futura Book", sans-serif;
}

#es-rc #es-rc-content .es-rating {
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

#es-rc #es-rc-content .es-rating__title {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: "Futura Book", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
}

#es-rc #es-rc-content .es-rating__flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

#es-rc #es-rc-content .es-rating__flex-item {
  border: 1px solid #edbb74;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 32px;
  max-width: 305px;
  min-height: 255px;
}

#es-rc #es-rc-content .es-rating__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: italic;
  margin: 0;
}

#es-rc #es-rc-content .es-rating__name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

#es-rc #es-rc-content .es-specialist {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  text-transform: uppercase;
}

#es-rc #es-rc-content .es-specialist__packshot {
  margin: 0;
  margin-top: -100px;
  padding: 0 24px 0 0;
  position: relative;
  z-index: 0;
}

#es-rc #es-rc-content .es-specialist__wrapper {
  padding: 24px;
  position: relative;
  z-index: 1;
}

#es-rc #es-rc-content .es-specialist__headline {
  font-family: "Futura Demi", sans-serif;
  font-size: 45px;
  margin-block: 0;
}

#es-rc #es-rc-content .es-specialist__text {
  font-family: "Futura Book", sans-serif;
  font-size: 35px;
  margin-top: 0;
}

#es-rc #es-rc-content .es-specialist__text--accent {
  background-color: #d9bf8b;
  color: #ffffff;
  padding-inline: 4px;
}

#es-rc #es-rc-content .es-specialist__disclaimer {
  font-size: 14px;
  font-family: "Futura Book", sans-serif;
  text-transform: initial;
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  /* font sizes because it's such a pain to retrofit from dt design */
  #es-rc #es-rc-content .es-kv__text-bold {
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-kv__text-smaller {
    font-size: 26px;
  }
  #es-rc #es-rc-content .es-kv__text-normal {
    font-size: 19px;
  }
}
@media screen and (min-width: 500px) {
  #es-rc #es-rc-content .es-kv__text {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
  }

  #es-rc #es-rc-content .es-kv__text__wrapper-top {
    position: unset;
    max-width: 450px;
    scale: 1;
  }

  #es-rc #es-rc-content .es-kv__text__wrapper-bottom {
    color: #ffffff;
    padding-inline: unset;
  }
}

@media screen and (min-width: 1200px) {
  #es-rc #es-rc-content {
    max-width: 1280px;
  }

  #es-rc #es-rc-content .es-kv {
    padding-bottom: 10px;
  }

  #es-rc #es-rc-content .es-kv__content {
    position: relative;
  }
  #es-rc #es-rc-content .es-kv__img--dt {
    display: block;
  }
  #es-rc #es-rc-content .es-kv__img--mb {
    display: none;
  }

  #es-rc #es-rc-content .es-kv__text {
    position: absolute;
    top: 108px;
    bottom: 0;
    left: 32px;
  }

  #es-rc #es-rc-content .es-kv__text-normal {
    margin-block: 0;
  }
  #es-rc #es-rc-content .es-kv__text__wrapper-top {
    max-width: unset;
  }

  #es-rc #es-rc-content .es-cross {
    padding: 30px 0;
  }

  #es-rc #es-rc-content .es-cross-mobile {
    display: none;
  }

  #es-rc #es-rc-content .es-cross__wrapper {
    display: flex;
    justify-content: space-between;
  }

  #es-rc #es-rc-content .es-cross__title {
    margin-bottom: 30px;
  }

  #es-rc #es-rc-content .es-cross__single {
    max-width: 195px;
  }

  #es-rc #es-rc-content .es-cross__single-text {
    font-size: 20px;
  }

  #es-rc #es-rc-content .es-cross__single-img img {
    max-height: 200px;
  }

  #es-rc
    #es-rc-content
    .es-cross__single:nth-child(2)
    .es-cross__single-img
    img,
  #es-rc
    #es-rc-content
    .es-cross__single:nth-child(3)
    .es-cross__single-img
    img {
    max-height: 140px;
  }

  #es-rc #es-rc-content .es-cross__single-link p {
    padding: 10px 50px;
    font-size: 15px;
  }

  #es-rc #es-rc-content .es-formula-results-rating__bg-wrapper {
    background: #684224;
    background: linear-gradient(
      193deg,
      rgba(104, 66, 36, 1) 0%,
      rgba(208, 166, 105, 1) 100%
    );
  }

  #es-rc #es-rc-content .es-formula {
    display: flex;
    padding-bottom: 0;
  }

  #es-rc #es-rc-content .es-formula__content {
    width: 50%;
    text-align: left;
    margin-left: -5%;
    padding: 32px;
  }

  #es-rc #es-rc-content .es-formula__content--img {
    width: 56%;
    height: 100%;
  }

  #es-rc #es-rc-content .es-formula__content--title {
    margin: 15px 0 0 0;
  }

  #es-rc #es-rc-content .es-formula__content--link {
    padding: 8px 40px;
    margin-top: -3px;
    margin-bottom: 0;
  }

  #es-rc #es-rc-content .es-results {
    padding: 0 0 0 32px;
    text-align: left;
    display: flex;
    align-items: center;
  }

  #es-rc #es-rc-content .es-results__wrapper {
    flex: 1 1 0;
    margin-right: -20%;
    padding: 0;
  }

  #es-rc #es-rc-content .es-results__text {
    margin-bottom: 0;
  }

  #es-rc #es-rc-content .es-results__flex-wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-block: 48px;
  }

  #es-rc #es-rc-content .es-results__percent-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #es-rc #es-rc-content .es-results__img {
    width: 44%;
  }

  #es-rc #es-rc-content .es-rating {
    padding-inline: 32px;
  }

  #es-rc #es-rc-content .es-rating__title {
    margin-block: 20px;
    text-align: left;
  }

  #es-rc #es-rc-content .es-rating__flex-wrapper {
    gap: 8px;
  }

  #es-rc #es-rc-content .es-rating__flex-item {
    flex: 1 1 0;
    padding-inline: 15px;
  }

  #es-rc #es-rc-content .es-specialist {
    background-position: center;
  }

  #es-rc #es-rc-content .es-specialist__wrapper {
    width: 50%;
    position: relative;
    left: 50%;
    text-align: left;
    padding-top: 32px;
  }

  #es-rc #es-rc-content .es-specialist__text {
    max-width: 400px;
  }

  #es-rc #es-rc-content .es-specialist__packshot {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  #es-rc #es-rc-content .es-results__img {
    width: 52%;
  }
}
